@import './node_modules/swiper/swiper-bundle.css';

body {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    font-family: $font-main;
    color: var(--black);
    background-color: var(--white);

    &.lock {
        overflow: hidden;
    }
}

.lock .header--scroll {
    background-color: unset;
    backdrop-filter: unset;
}

main {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.lock main {
    transform: translate3d(280px, 0, 0);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding: unset;
}

.section {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}


.padd {
    &--t {
        padding-top: 180px;
    }

    &--tb-small {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    &--tb-medium {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    &--tb-xs {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

.t-crop {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &__three {
        -webkit-line-clamp: 3;
    }

    &__four {
        -webkit-line-clamp: 4;
    }

    &__five {
        -webkit-line-clamp: 5;
    }
}

.width {
    &--full {
        width: 100%;
    }
}