// breakpoints
$phone-s: 365;
$phone-m: 414;
$tablet: 767;
$desktop: 1024;

// fonts
$font-main: "sn", sans-serif;
$font-fontello: "fontello";
$font-slick: "slick";

$max-width: 1440px;

:root {
  --black: #0C0A17;
  --white: #F4F5F9;

  --primary: #3877EE;

  --Fuschia-80: #F178B6;

  --Black-blue: #42567A;

  --gray-500: #C7CDD9;
  --gray-600: #7A7A7A;
  --gray-500: #CCCCCC;

  // border radius
  --br--3: 3px;
  --br--5: 5px;
  --br--8: 8px;
  --br--10: 10px;
  --br--12: 12px;
  --br--15: 15px;
  --br--20: 20px;
  --br--25: 25px;
  --br--30: 30px;
  --br--50: 50px;
}