/* Ваш файл стилей */
@import '~swiper/swiper-bundle.css';
// Ваш файл стилей SCSS

.hero {
    padding-top: 59px;

    h2 {
        color: var(--Black-blue);
        font-size: 20px;
        font-weight: 700;
    }

    &-wrap {
        margin-top: 56px;
        
        width: 100%;

        &__carousel,
        &__events {
            position: relative;

            width: 100%;

            .slick-dots {
                position: absolute;

                width: 86px;

                left: 50%;
                transform: translateX(-50%);
                bottom: -80px;
            }

            .slick-dots li button:before {
                width: 6px;
                height: 6px;
                
                opacity: 0.4;

                background-color: var(--Black-blue);
            }

            .slick-dots li.slick-active button:before {
                opacity: 1;
                background-color: var(--Black-blue);
            }

            .slick-list {
                padding: 0 !important;
                overflow: hidden;
            }
        }

        &__navigation {
            position: relative;
            float: left;
            margin-top: 80px;

            li {
                margin-top: 20px;
                position: relative;
                float: left;
        
                // margin-right: 20px;
        
                &.prev svg {
                    display: block;
                    height: 20px;
                    width: 20px;
                    fill: none;
                    stroke: var(--Black-blue);
                    stroke-width: 1.5;
                    transform: rotate(180deg);
                }
            
                &.next svg {
                    display: block;
                    height: 20px;
                    width: 20px;
                    fill: none;
                    stroke: var(--Black-blue);
                    stroke-width: 1.5;
                }
            }
        }

        &__item {
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        
            height: 315px;

            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;

                font-size: 56px;
                font-weight: 700;

                color: var(--primary);
            }

            h3 span {
                color: var(--Fuschia-80);
            }
        }
    }

    &-wrap__events {
        .slick-list {
            padding-right: 67px !important;
        }

        .slick-track {
            margin: 0 -15px;
            display: flex;
            gap: 25px;
        }

        .slick-slide {
            width: 80%;
        }
        li span {
            color: var(--primary);
        }

        li p {
            margin-top: 15px;

            color: var(--Black-blue);
            font-size: 14px;
        }
        .slick-slide {
            padding-right: 12px;
        }
    }

    &-wrap__line {
        width: 100%;
        height: 1px;

        background-color: #C7CDD9;
    }
}