mixin hero-carousel()
    <ul class="hero-wrap__carousel">
        <li class="hero-wrap__item">
            <h3>1990 <span>2002</span></h3>
            <p>Литература</p>
            <div class="hero-wrap__line"></div>
            <ul class="hero-wrap__events">
                <li>
                    <span>1990</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>1995</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>2001</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
            </ul>
        </li>
        <li class="hero-wrap__item">
            <h3>1990 <span>2002</span></h3>
            <p>Исторя</p>
            <div class="hero-wrap__line"></div>
            <ul class="hero-wrap__events">
                <li>
                    <span>1990</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>1995</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>2001</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
            </ul>
        </li>
        <li class="hero-wrap__item">
            <h3>1990 <span>2002</span></h3>
            <p>Общество</p>
            <div class="hero-wrap__line"></div>
            <ul class="hero-wrap__events">
                <li>
                    <span>1990</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>1995</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>2001</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
            </ul>
        </li>
        <li class="hero-wrap__item">
            <h3>1990 <span>2002</span></h3>
            <p>Наука</p>
            <div class="hero-wrap__line"></div>
            <ul class="hero-wrap__events">
                <li>
                    <span>1990</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>1995</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>2001</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
            </ul>
        </li>
        <li class="hero-wrap__item">
            <h3>1990 <span>2002</span></h3>
            <p>Кино</p>
            <div class="hero-wrap__line"></div>
            <ul class="hero-wrap__events">
                <li>
                    <span>1990</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>1995</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>2001</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
            </ul>
        </li>
        <li class="hero-wrap__item">
            <h3>1990 <span>2002</span></h3>
            <p>Кино</p>
            <div class="hero-wrap__line"></div>
            <ul class="hero-wrap__events">
                <li>
                    <span>1990</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>1995</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
                <li>
                    <span>2001</span>
                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="hero-wrap__navigation">
        <li class="prev">
            +icon('arrow')
        </li>
        <li class="next">
            +icon('arrow')
        </li>
    </ul>