mixin hero()
    <section class="section">
        <div class="container">
            <div class="hero">
                <h2>Исторические <br> даты</h2>
                <div class="hero-wrap">
                    <ul class="hero-wrap__carousel">
                        <li class="hero-wrap__item">
                            <span>1990 2002</span>
                            <p>Литература</p>
                            <ul class="hero-wrap__events">
                                <li>
                                    <span>1990</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>1995</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>2001</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                            </ul>
                        </li>
                        <li class="hero-wrap__item">
                            <span>1990 2002</span>
                            <p>Исторя</p>
                            <ul class="hero-wrap__events">
                                <li>
                                    <span>1990</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>1995</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>2001</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                            </ul>
                        </li>
                        <li class="hero-wrap__item">
                            <span>1990 2002</span>
                            <p>Общество</p>
                            <ul class="hero-wrap__events">
                                <li>
                                    <span>1990</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>1995</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>2001</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                            </ul>
                        </li>
                        <li class="hero-wrap__item">
                            <span>1990 2002</span>
                            <p>Наука</p>
                            <ul class="hero-wrap__events">
                                <li>
                                    <span>1990</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>1995</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>2001</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                            </ul>
                        </li>
                        <li class="hero-wrap__item">
                            <span>1990 2002</span>
                            <p>Кино</p>
                            <ul class="hero-wrap__events">
                                <li>
                                    <span>1990</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>1995</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>2001</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                            </ul>
                        </li>
                        <li class="hero-wrap__item">
                            <span>1990 2002</span>
                            <p>Кино</p>
                            <ul class="hero-wrap__events">
                                <li>
                                    <span>1990</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>1995</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                                <li>
                                    <span>2001</span>
                                    <p>13 сентября — частное солнечное затмение, видимое в Южной Африке и части Антарктиды</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="hero-wrap__navigation">
                        <li class="prev">
                            +icon('arrow')
                        </li>
                        <li class="next">
                            +icon('arrow')
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>